@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth !important;
}

body,
#root {
  overflow-x: hidden;
  @apply bg-main;
}

/* body:hover > .circle {
  display: flex !important;
} */

.vertical-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

@layer utilities {
  .text-shadow {
    text-shadow: 3px 2px 2px #e02e85;
  }
}

.custom-spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
